<div fxLayout="column" fxFlex style="margin:2% 2% 0% 2%;">
    <mat-card style="width:94%;margin-left:2%">
        <form [formGroup]="createAdminForm">
            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center" class="jobNum-field">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label class="fileClaim-label">User ID</mat-label>
                    <input type="text" placeholder="" formControlName="userId" matInput>
                  </mat-form-field>
                <mat-form-field class="example-full-width input-placeholder" appearance="outline" required>
                    <mat-label class="fileClaim-label">Password</mat-label>
                    <input type="password" [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password" matInput>
                    <mat-icon class="placeholder" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error  *ngIf="password?.errors?.['required']">
                       Password is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width input-placeholder" appearance="outline" required>
                    <mat-label class="fileClaim-label">Confirm Password</mat-label>
                    <input type="password" placeholder="" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" matInput
                    [ngClass]="{ 'is-invalid': submitted && confirmPassword?.errors}">
                    <mat-icon class="placeholder" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error  *ngIf="confirmPassword?.errors?.['mustMatch']"  >
                        Password dosen't match.
                    </mat-error>
                    <mat-error  *ngIf="confirmPassword?.errors?.['required']">
                        Confirm password is required.
                    </mat-error>
                    </mat-form-field>
                <button mat-raised-button color="primary"  (click)="registeruser()">Submit</button>
            </div>
        </form>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center center" style="align-items: baseline;margin:2%" class="jobNum-field">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label class="fileClaim-label">Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="">
          <mat-icon matSuffix><span class="material-symbols-outlined">
            search
            </span></mat-icon>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8 example-container" tabindex="0" style="margin:2%">
        <table mat-table [dataSource]="dataSource" class="fileClaimTable">

            <!-- User ID Column -->
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.Id}}</td>
            </ng-container>

            <!-- Admin User Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Admin User</th>
                <td mat-cell *matCellDef="let element;let i = index">{{element.adminUser}}</td>
                
            </ng-container>

              <!-- Action Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Action</th>
                <td mat-cell *matCellDef="let element;let i = index" >
                    <button mat-raised-button color="primary" matTooltip="Click to Deactivate"  [disabled]="!element.status"(click)="onClickOfDeactivate(element,i)">Deactivate</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
            <tr mat-row *matRowDef="let row;let i = index; columns: displayedColumns; " [ngClass]="{ highlighted: row.isEdit}"></tr>
        </table>
<mat-paginator   [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements">
</mat-paginator>
</div>

    
</div>