<div fxLayout="row">
    <form [formGroup]="changePasswordForm">
        <mat-card>
            <div fxLayoutAlign="end end">
                <button mat-button class="close-icon" [mat-dialog-close]="true">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <mat-card-content>
                <div fxLayout="row" fxLayoutGap="15px" >
                    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                        <mat-form-field class="property-full-width" appearance="outline">
                            <mat-label>Old Password</mat-label>
                            <input matInput placeholder="" formControlName="oldPassword">
                        </mat-form-field>
                        <mat-form-field class="property-full-width" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input type="password" matInput placeholder="" formControlName="newPassword">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                        <mat-form-field class="property-full-width" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" placeholder="" formControlName="confirmPassword">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="changePassword()">Submit</button>
                        <button mat-raised-button color="primary" (click)="closePopup()">Cancel</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>