<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="start center">
    <!-- <label class="page-title">TonTow</label> -->
    <img src="../../../assets/TonTow_Logo_3.png"  class="tonTow-img" width="100" height="55"/>
  </div>

  <div class="example-button-row">
  </div>
  <span class="example-spacer"></span>
  <div>
    <div class="example-flex-container" fxLayoutGap="15px">
      <div>
        <label class="welcome-label">Welcome! {{loginUserDetails.username}}</label>
      </div>
      <div class="example-button-container" style="overflow: hidden;">
        <button mat-mini-fab color="primary" class="add-btn" [matMenuTriggerFor]="beforeMenu"
          aria-label="Example icon button with a home icon">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <div fxLayout="column">
            <button mat-menu-item fxLayoutAlign="center center" (click)="openDialog()">Change Password</button>
            <button mat-menu-item fxLayoutAlign="center center" (click)="logOut()">Logout</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>